<div class="person view">
  <section id="personPresentation" class="personHeight" style="background-image:url({{ picture }});">

    <h2>{{ name | uppercase }}</h2>

  </section>

  <section id="personForm">
    <span>FORM</span>
    <div id="formIndicators">
      <div class="losed"></div>
      <div class="losed"></div>
      <div class="won"></div>
      <div class="won"></div>
      <div class="losed"></div>
      <div class="won"></div>
    </div>

    <div class="theend"></div>
  </section>


  <section class="personHeight" id="personStats">
    <h2>{{ "02:30" }}</h2>
    <p>TID PÅ VÆGGEN</p>
  </section>

</div>
