<div class="stats view">
  <section id="statsTop" class="statThird">
    <div class="col-xs-6">
      <div>
        <p class="number">{{ "23" }}</p>
        <p>SEJRE I ALT</p>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="">
        <p class="number">{{ "33" }}</p>
        <p>RANGERING</p>
      </div>
    </div>
  </section>

  <section id="statsTime" class="statThird">
    <h2 class="number">{{ "02:30" }}</h2>
    <p>TID PÅ VÆGGEN</p>
  </section>

  <section id="statsBottom" class="statThird">
    <div class="statThirdHalf">
      <p class="number">{{ "33" }}</p>
      <p>Forskellige modstandere</p>
    </div>
    <div id="statsBottomLine"></div>
    <div class="statThirdHalf">
      <p class="number">{{ "33" }}</p>
      <p>Forskellige modstandere</p>
    </div>
  </section>


</div>
